# COGS 108 - Data Checkpoint

# Names

- Sarah Borsotto
- Niharika Malhotra
- Marvin Ochoa Estrada
- Ann Luong
- Dhathry Doppalapudi

<a id='research_question'></a>
# Research Question

Is there a correlation between the amount of parking tickets issued in different regions of Los Angeles county and the demographics of those regions?

# Dataset(s)

- Dataset Name: Los Angeles County Median Income and AMI
- Link to the dataset: https://geohub.lacity.org/datasets/lacounty::median-income-and-ami-census-tract/explore?location=33.769267%2C-118.302668%2C8.64&showTable=true 
- Number of observations: 2495

This dataset contains stats for median household income, Area Median Income (AMI) category based on median household income, and comparing median household income to AMI categories. This table connects the previous categories to its respective region. 

- Dataset Name: Parking Tickets - LA Open Data Portal
- Link to the dataset: https://data.lacity.org/Transportation/Parking-Citations/wjz9-h9np/data
- Number of observations: 15111221        

This dataset from Los Angelesâ€™s Open Data Initiative, started by Mayor Eric Garceti in 2013, contains various data on parking citations. The table includes the ticket number, the date the ticket was issued, the make of the car, location (as a street address), the type of violation, longitude/latitude, and the fine of the ticket. 

If you plan to use multiple datasets, add 1-2 sentences about how you plan to combine these datasets.

We will use the latitude and longitude given in the parking citation dataset to plot the location of each data point on a map. Then, we will see which data points fall into the regions defined in the AMI dataset in order to compare the density of parking tickets within each income region.

# Setup

In [1]:
%pip install geopandas

Requirement already satisfied: geopandas in c:\users\annlu\anaconda3\lib\site-packages (0.12.1)
Requirement already satisfied: fiona>=1.8 in c:\users\annlu\anaconda3\lib\site-packages (from geopandas) (1.8.22)
Requirement already satisfied: shapely>=1.7 in c:\users\annlu\anaconda3\lib\site-packages (from geopandas) (1.8.5.post1)
Requirement already satisfied: pandas>=1.0.0 in c:\users\annlu\anaconda3\lib\site-packages (from geopandas) (1.3.4)
Requirement already satisfied: packaging in c:\users\annlu\anaconda3\lib\site-packages (from geopandas) (21.0)
Requirement already satisfied: pyproj>=2.6.1.post1 in c:\users\annlu\anaconda3\lib\site-packages (from geopandas) (3.4.0)
Requirement already satisfied: setuptools in c:\users\annlu\anaconda3\lib\site-packages (from fiona>=1.8->geopandas) (58.0.4)
Requirement already satisfied: cligj>=0.5 in c:\users\annlu\anaconda3\lib\site-packages (from fiona>=1.8->geopandas) (0.7.2)
Requirement already satisfied: munch in c:\users\annlu\anaconda3\lib\site-packages (from fiona>=1.8->geopandas) (2.5.0)
Requirement already satisfied: click>=4.0 in c:\users\annlu\anaconda3\lib\site-packages (from fiona>=1.8->geopandas) (8.0.3)
Requirement already satisfied: certifi in c:\users\annlu\anaconda3\lib\site-packages (from fiona>=1.8->geopandas) (2021.10.8)
Requirement already satisfied: click-plugins>=1.0 in c:\users\annlu\anaconda3\lib\site-packages (from fiona>=1.8->geopandas) (1.1.1)
Requirement already satisfied: attrs>=17 in c:\users\annlu\anaconda3\lib\site-packages (from fiona>=1.8->geopandas) (21.2.0)
Requirement already satisfied: six>=1.7 in c:\users\annlu\anaconda3\lib\site-packages (from fiona>=1.8->geopandas) (1.16.0)
Requirement already satisfied: colorama in c:\users\annlu\anaconda3\lib\site-packages (from click>=4.0->fiona>=1.8->geopandas) (0.4.4)
Requirement already satisfied: numpy>=1.17.3 in c:\users\annlu\anaconda3\lib\site-packages (from pandas>=1.0.0->geopandas) (1.20.3)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\annlu\anaconda3\lib\site-packages (from pandas>=1.0.0->geopandas) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in c:\users\annlu\anaconda3\lib\site-packages (from pandas>=1.0.0->geopandas) (2021.3)
Requirement already satisfied: pyparsing>=2.0.2 in c:\users\annlu\anaconda3\lib\site-packages (from packaging->geopandas) (3.0.4)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import os
sns.set(font_scale=2, style="white")

import matplotlib as mpl
import matplotlib.pyplot as plt
import matplotlib.style as style
plt.rcParams['figure.figsize'] = (12, 5)

# Plots latitude and longitude points on a map
from shapely.geometry import Point
import geopandas as gpd
from geopandas import GeoDataFrame

# Converts state plane coordinates to latitude and longitude
from pyproj import Proj, transform

%config InlineBackend.figure_format = 'retina'

# Data Cleaning

First, we will read the parking ticket dataset and find out what information we can extract from it.

In [3]:
citations = pd.read_csv(r"Parking_Citations.csv")

C:\Users\annlu\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (0,7,19,20,21) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [4]:
print(citations.columns)
citations.head()

Index(['Ticket number', 'Issue Date', 'Issue time', 'Meter Id', 'Marked Time',
       'RP State Plate', 'Plate Expiry Date', 'VIN', 'Make', 'Body Style',
       'Color', 'Location', 'Route', 'Agency', 'Violation code',
       'Violation Description', 'Fine amount', 'Latitude', 'Longitude',
       'Agency Description', 'Color Description', 'Body Style Description'],
      dtype='object')

,Ticket number,Issue Date,Issue time,Meter Id,Marked Time,RP State Plate,Plate Expiry Date,VIN,Make,Body Style,...,Route,Agency,Violation code,Violation Description,Fine amount,Latitude,Longitude,Agency Description,Color Description,Body Style Description
0,1103341116,12/21/2015,1251.0,NaN,NaN,CA,200304.0,NaN,HOND,PA,...,01521,1.0,4000A1,NO EVIDENCE OF REG,50.0,99999.0,99999.0,NaN,NaN,NaN
1,1103700150,12/21/2015,1435.0,NaN,NaN,CA,201512.0,NaN,GMC,VN,...,1C51,1.0,4000A1,NO EVIDENCE OF REG,50.0,99999.0,99999.0,NaN,NaN,NaN
2,1104803000,12/21/2015,2055.0,NaN,NaN,CA,201503.0,NaN,NISS,PA,...,2R2,2.0,8939,WHITE CURB,58.0,6439997.9,1802686.4,NaN,NaN,NaN
3,1104820732,12/26/2015,1515.0,NaN,NaN,CA,NaN,NaN,ACUR,PA,...,2F11,2.0,000,17104h,NaN,6440041.1,1802686.2,NaN,NaN,NaN
4,1105461453,09/15/2015,115.0,NaN,NaN,CA,200316.0,NaN,CHEV,PA,...,1FB70,1.0,8069A,NO STOPPING/STANDING,93.0,99999.0,99999.0,NaN,NaN,NaN

Next, we are going to get rid of all of the columns that we don't need and then drop any rows that have missing values. The information that is of interest to us is:
- ticket number
- issue date
- State Plate
- Make
- Location
- Violation code
- Violation description
- Fine amount
- Latitude
- Longitude

In [5]:
citations = citations[['Ticket number', 'Issue Date', 'RP State Plate', 'Make', 'Location', 'Violation code', 'Violation Description', 'Fine amount', 'Latitude', 'Longitude']]
citations = citations.dropna()
print(citations.shape)
citations.head()

(15111221, 10)

,Ticket number,Issue Date,RP State Plate,Make,Location,Violation code,Violation Description,Fine amount,Latitude,Longitude
0,1103341116,12/21/2015,CA,HOND,13147 WELBY WAY,4000A1,NO EVIDENCE OF REG,50.0,99999.0,99999.0
1,1103700150,12/21/2015,CA,GMC,525 S MAIN ST,4000A1,NO EVIDENCE OF REG,50.0,99999.0,99999.0
2,1104803000,12/21/2015,CA,NISS,200 WORLD WAY,8939,WHITE CURB,58.0,6439997.9,1802686.4
4,1105461453,09/15/2015,CA,CHEV,GEORGIA ST/OLYMPIC,8069A,NO STOPPING/STANDING,93.0,99999.0,99999.0
5,1106226590,09/15/2015,CA,CHEV,SAN PEDRO S/O BOYD,4000A1,NO EVIDENCE OF REG,50.0,99999.0,99999.0

Now, we are going to extract the year that each ticket was issued to make it easier to filter the data

In [6]:
citations['year'] = pd.to_datetime(citations['Issue Date'], format='%m/%d/%Y').dt.year
citations.head()

,Ticket number,Issue Date,RP State Plate,Make,Location,Violation code,Violation Description,Fine amount,Latitude,Longitude,year
0,1103341116,12/21/2015,CA,HOND,13147 WELBY WAY,4000A1,NO EVIDENCE OF REG,50.0,99999.0,99999.0,2015
1,1103700150,12/21/2015,CA,GMC,525 S MAIN ST,4000A1,NO EVIDENCE OF REG,50.0,99999.0,99999.0,2015
2,1104803000,12/21/2015,CA,NISS,200 WORLD WAY,8939,WHITE CURB,58.0,6439997.9,1802686.4,2015
4,1105461453,09/15/2015,CA,CHEV,GEORGIA ST/OLYMPIC,8069A,NO STOPPING/STANDING,93.0,99999.0,99999.0,2015
5,1106226590,09/15/2015,CA,CHEV,SAN PEDRO S/O BOYD,4000A1,NO EVIDENCE OF REG,50.0,99999.0,99999.0,2015

We're only interested in looking in data from the past 5 years, so we're only going to look at entries in which the issue year is between 2018 and 2022 (inclusive)

In [7]:
citations = citations[citations['year'].isin(range(2018, 2023)) == True]
print(citations.shape)
citations['year'].value_counts()

(8448834, 11)

2018    1995302
2019    1949171
2021    1567893
2022    1513752
2020    1422716
Name: year, dtype: int64

In [8]:
citations.head()

,Ticket number,Issue Date,RP State Plate,Make,Location,Violation code,Violation Description,Fine amount,Latitude,Longitude,year
19951,4336729224,10/27/2018,CA,TOYT,10667 TELFAIR AVE,22500E,BLOCKING DRIVEWAY,68.0,9.999900e+04,9.999900e+04,2018
20614,4336729235,10/27/2018,CA,OTHR,10341 WOODWARD AVE,80.73.2,EXCEED 72HRS-ST,68.0,9.999900e+04,9.999900e+04,2018
20615,4336729246,10/27/2018,CA,LEXS,10650 SHERMAN GROVE AVE,80.73.2,EXCEED 72HRS-ST,68.0,6.464946e+06,1.918022e+06,2018
20616,4336729250,10/27/2018,CA,PONT,7530 SAN FERNANDO ROAD,80.73.2,EXCEED 72HRS-ST,68.0,6.454926e+06,1.898328e+06,2018
20617,4336729261,10/27/2018,CA,PONT,7530 SAN FERNANDO ROAD,5204A-,DISPLAY OF TABS,25.0,6.454926e+06,1.898328e+06,2018

Looking at `df.head` now, you can see that there are a lot of invalid latitude and longitude coordinates (longitude and latitude are 99999). You can also see that the coordinates are represented with the California Zone 5 State Plane Coordinate System instead of the regular longitude and latitude coordinates that we are used to. We need the latitude on longitude coordinates to plot the location of the tickets on a map, so for now we are only going to look at entries with valid lat/lon coordinates and convert them to the proper values.

In [9]:
citations = citations[citations['Longitude'] != 99999]
print(citations.shape)
citations.head()

(7802916, 11)

,Ticket number,Issue Date,RP State Plate,Make,Location,Violation code,Violation Description,Fine amount,Latitude,Longitude,year
20615,4336729246,10/27/2018,CA,LEXS,10650 SHERMAN GROVE AVE,80.73.2,EXCEED 72HRS-ST,68.0,6.464946e+06,1.918022e+06,2018
20616,4336729250,10/27/2018,CA,PONT,7530 SAN FERNANDO ROAD,80.73.2,EXCEED 72HRS-ST,68.0,6.454926e+06,1.898328e+06,2018
20617,4336729261,10/27/2018,CA,PONT,7530 SAN FERNANDO ROAD,5204A-,DISPLAY OF TABS,25.0,6.454926e+06,1.898328e+06,2018
20618,4336729272,10/27/2018,CA,DODG,7590 GLENOAKS BLVD,80.73.2,EXCEED 72HRS-ST,68.0,6.457772e+06,1.898373e+06,2018
20619,4336729283,10/27/2018,CA,TOYT,9601 CABRINI DR,80.73.2,EXCEED 72HRS-ST,68.0,6.458568e+06,1.899818e+06,2018

Looking at `df.shape`, you can see that there are over 7 million entries. Doing the conversion for every entry would take multiple days for our computers to run so we're only going to look at 5000 entries from each year.

In [10]:
citations2018 = citations[citations['year'] == 2018]
citations2018 = citations2018.sample(frac = 1) #shuffle the data
citations2018 = citations2018.head(5000)

In [11]:
citations2019 = citations[citations['year'] == 2019]
citations2019 = citations2019.sample(frac = 1)
citations2019 = citations2019.head(5000)

In [12]:
citations2020 = citations[citations['year'] == 2020]
citations2020 = citations2020.sample(frac = 1)
citations2020 = citations2020.head(5000)

In [13]:
citations2021 = citations[citations['year'] == 2021]
citations2021 = citations2021.sample(frac = 1)
citations2021 = citations2021.head(5000)

In [14]:
citations2022 = citations[citations['year'] == 2022]
citations2022 = citations2022.sample(frac = 1)
citations2022 = citations2022.head(5000)

In [15]:
citations = pd.concat([citations2018, citations2019, citations2020, citations2021, citations2022])
#we should have 25,000 entries
citations.shape

(25000, 11)

In [16]:
citations['year'].value_counts()

2018    5000
2019    5000
2020    5000
2021    5000
2022    5000
Name: year, dtype: int64

In [17]:
citations.head()

,Ticket number,Issue Date,RP State Plate,Make,Location,Violation code,Violation Description,Fine amount,Latitude,Longitude,year
7303609,4328154935,03/16/2018,CA,MERZ,16400 VENTURA BL,88.13B+,METER EXP.,63.0,6.413382e+06,1.879975e+06,2018
8569173,4344285551,12/11/2018,CA,BMW,9901 PICO BL W,88.13B+,METER EXP.,63.0,6.438605e+06,1.841744e+06,2018
7362643,4329008946,03/28/2018,CA,LEXS,1147 ECHO PARK AVE,88.63B+,OFF STR/OVERTIME/MTR,58.0,6.483441e+06,1.849852e+06,2018
8632489,4344052042,12/23/2018,CA,MAZD,843 LOS ANGELES ST S,88.13B+,METER EXP.,63.0,6.484998e+06,1.837549e+06,2018
6971339,4324364936,01/10/2018,CA,DODG,579 VENICE BLVD,80.71.3,PARKING/FRONT YARD,68.0,6.420827e+06,1.818193e+06,2018

Now that we have reduced our dataset to a size that we can work with, we can convert all of the state coordinates to latitude and longitude coordinates

In [18]:
#inProj: the current coordinate system (CA Zone 5)
inProj = Proj(init='epsg:2229', preserve_units = True)
#outProj: the coordinate system that we want (latitude/longitude)
outProj = Proj(init='epsg:4326')
count = 0

for index in citations.index:
    x = citations.loc[index, 'Latitude']
    y = citations.loc[index, 'Longitude']
    new_lon, new_lat = transform(inProj, outProj, x, y)
    citations.loc[index, 'Longitude'] = new_lon
    citations.loc[index, 'Latitude'] = new_lat
    count += 1
    if count % 5000 == 0:
        print(count) #track progress

C:\Users\annlu\anaconda3\lib\site-packages\pyproj\crs\crs.py:141: FutureWarning: '+init=<authority>:<code>' syntax is deprecated. '<authority>:<code>' is the preferred initialization method. When making the change, be mindful of axis order changes: https://pyproj4.github.io/pyproj/stable/gotchas.html#axis-order-changes-in-proj-6
  in_crs_string = _prepare_from_proj_string(in_crs_string)
C:\Users\annlu\anaconda3\lib\site-packages\pyproj\crs\crs.py:141: FutureWarning: '+init=<authority>:<code>' syntax is deprecated. '<authority>:<code>' is the preferred initialization method. When making the change, be mindful of axis order changes: https://pyproj4.github.io/pyproj/stable/gotchas.html#axis-order-changes-in-proj-6
  in_crs_string = _prepare_from_proj_string(in_crs_string)
C:\Users\annlu\AppData\Local\Temp/ipykernel_8456/1493368927.py:10: DeprecationWarning: This function is deprecated. See: https://pyproj4.github.io/pyproj/stable/gotchas.html#upgrading-to-pyproj-2-from-pyproj-1
  new_lon, new_lat = transform(inProj, outProj, x, y)

5000
10000
15000
20000
25000

In [19]:
citations.head()

,Ticket number,Issue Date,RP State Plate,Make,Location,Violation code,Violation Description,Fine amount,Latitude,Longitude,year
7303609,4328154935,03/16/2018,CA,MERZ,16400 VENTURA BL,88.13B+,METER EXP.,63.0,34.157264,-118.490149,2018
8569173,4344285551,12/11/2018,CA,BMW,9901 PICO BL W,88.13B+,METER EXP.,63.0,34.052521,-118.406265,2018
7362643,4329008946,03/28/2018,CA,LEXS,1147 ECHO PARK AVE,88.63B+,OFF STR/OVERTIME/MTR,58.0,34.075207,-118.258318,2018
8632489,4344052042,12/23/2018,CA,MAZD,843 LOS ANGELES ST S,88.13B+,METER EXP.,63.0,34.041412,-118.253074,2018
6971339,4324364936,01/10/2018,CA,DODG,579 VENICE BLVD,80.71.3,PARKING/FRONT YARD,68.0,33.987596,-118.464595,2018

# Median Income and AMI Dataset Cleaning

Now we will explore the median income and ami dataset so that we can better establish socioeconomic status later on.

We will begin by reading in the data.

In [20]:
# get the median income and ami geoJSON file which includes info about the boundaries of each city
ami = gpd.read_file(r"Median_Income_and_AMI_(census_tract).geojson")
ami

,tract,med_hh_income,med_hh_income_universe,ami_category,below_med_income,below_60pct_med_income,below_moderate_income,sup_dist,csa,spa,ESRI_OID,Shape__Area,Shape__Length,geometry
0,06037199700,38892.0,1204,Very Low Income,Yes,Yes,Yes,District 1,Los Angeles - Wholesale District,SPA 4 - Metro,2347,1.041050e+07,13808.463241,"POLYGON ((-118.22672 34.06242, -118.22453 34.0..."
1,06037199801,41027.0,903,Very Low Income,Yes,Yes,Yes,District 1,Los Angeles - Lincoln Heights,SPA 4 - Metro,2348,3.724107e+06,9459.391827,"POLYGON ((-118.21559 34.07186, -118.21169 34.0..."
2,06037199802,42500.0,612,Very Low Income,Yes,Yes,Yes,District 1,Los Angeles - Lincoln Heights,SPA 4 - Metro,2349,3.296129e+06,8868.744225,"POLYGON ((-118.21563 34.07365, -118.21309 34.0..."
3,06037199900,37232.0,845,Very Low Income,Yes,Yes,Yes,District 1,Los Angeles - Lincoln Heights,SPA 4 - Metro,2350,4.782361e+06,10141.728022,"POLYGON ((-118.21528 34.06349, -118.21547 34.0..."
4,06037201110,65000.0,782,Low Income,Yes,No,Yes,District 1,Los Angeles - El Sereno,SPA 4 - Metro,2351,1.099246e+07,15893.383636,"POLYGON ((-118.18182 34.09277, -118.18039 34.0..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2490,06037554516,126450.0,1215,Above Moderate Income,No,No,No,District 4,City of Cerritos,SPA 7 - East,4837,1.555650e+07,21274.227408,"POLYGON ((-118.07225 33.85452, -118.07047 33.8..."
2491,06037554517,107672.0,1352,Above Moderate Income,No,No,No,District 4,City of Cerritos,SPA 7 - East,4838,1.421767e+07,15905.089174,"POLYGON ((-118.06374 33.86586, -118.05352 33.8..."
2492,06037554518,104439.0,1558,Above Moderate Income,No,No,No,District 4,City of Cerritos,SPA 7 - East,4839,1.938903e+07,21218.412991,"POLYGON ((-118.04646 33.87326, -118.03776 33.8..."
2493,06037554519,131012.0,1216,Above Moderate Income,No,No,No,District 4,City of Cerritos,SPA 7 - East,4840,1.866694e+07,19500.866806,"POLYGON ((-118.06362 33.85858, -118.05495 33.8..."
2494,06037554521,90280.0,1863,Low Income,No,No,Yes,District 4,City of Cerritos,SPA 7 - East,4841,5.352220e+07,37625.839752,"POLYGON ((-118.10858 33.88694, -118.10828 33.8..."

### Median Income and AMI

We know that the median income and AMI dataset has statistics for median household income and the corresponding AMI category, but what else does it include? Let's take a look!

In [21]:
ami.head()

,tract,med_hh_income,med_hh_income_universe,ami_category,below_med_income,below_60pct_med_income,below_moderate_income,sup_dist,csa,spa,ESRI_OID,Shape__Area,Shape__Length,geometry
0,06037199700,38892.0,1204,Very Low Income,Yes,Yes,Yes,District 1,Los Angeles - Wholesale District,SPA 4 - Metro,2347,1.041050e+07,13808.463241,"POLYGON ((-118.22672 34.06242, -118.22453 34.0..."
1,06037199801,41027.0,903,Very Low Income,Yes,Yes,Yes,District 1,Los Angeles - Lincoln Heights,SPA 4 - Metro,2348,3.724107e+06,9459.391827,"POLYGON ((-118.21559 34.07186, -118.21169 34.0..."
2,06037199802,42500.0,612,Very Low Income,Yes,Yes,Yes,District 1,Los Angeles - Lincoln Heights,SPA 4 - Metro,2349,3.296129e+06,8868.744225,"POLYGON ((-118.21563 34.07365, -118.21309 34.0..."
3,06037199900,37232.0,845,Very Low Income,Yes,Yes,Yes,District 1,Los Angeles - Lincoln Heights,SPA 4 - Metro,2350,4.782361e+06,10141.728022,"POLYGON ((-118.21528 34.06349, -118.21547 34.0..."
4,06037201110,65000.0,782,Low Income,Yes,No,Yes,District 1,Los Angeles - El Sereno,SPA 4 - Metro,2351,1.099246e+07,15893.383636,"POLYGON ((-118.18182 34.09277, -118.18039 34.0..."

What about the size of the dataset?

In [22]:
ami.shape

(2495, 14)

This means that there are currently 2495 observations in our data, with 14 different categories. What can these categories tell us?

In [23]:
ami.columns

Index(['tract', 'med_hh_income', 'med_hh_income_universe', 'ami_category',
       'below_med_income', 'below_60pct_med_income', 'below_moderate_income',
       'sup_dist', 'csa', 'spa', 'ESRI_OID', 'Shape__Area', 'Shape__Length',
       'geometry'],
      dtype='object')

In [24]:
ami.describe()

,med_hh_income,med_hh_income_universe,ESRI_OID,Shape__Area,Shape__Length
count,2458.000000,2495.000000,2495.000000,2.495000e+03,2495.000000
mean,76849.334418,1335.672946,3594.000000,4.579716e+07,20273.817017
std,35546.132788,533.910989,720.388784,4.270580e+08,34074.651234
min,4918.000000,0.000000,2347.000000,4.836532e+05,2815.257443
25%,51157.500000,988.000000,2970.500000,5.921008e+06,10607.040729
50%,69698.000000,1282.000000,3594.000000,1.025761e+07,14365.057033
75%,94515.500000,1625.000000,4217.500000,1.835792e+07,19904.426714
max,250001.000000,5617.000000,4841.000000,1.608691e+10,915242.577112

Looks like more than half of the columns are categorical and not numerical. What are the other types of data?

In [25]:
# finding types of each column
ami.dtypes

tract                       object
med_hh_income              float64
med_hh_income_universe       int64
ami_category                object
below_med_income            object
below_60pct_med_income      object
below_moderate_income       object
sup_dist                    object
csa                         object
spa                         object
ESRI_OID                     int64
Shape__Area                float64
Shape__Length              float64
geometry                  geometry
dtype: object

In [26]:
ami.index

RangeIndex(start=0, stop=2495, step=1)

Something that will be important for our analysis later on is identifying median income for specific regions. Let's take a look at the different locations in this dataset:

In [27]:
ami['csa'].unique()

array(['Los Angeles - Wholesale District',
       'Los Angeles - Lincoln Heights', 'Los Angeles - El Sereno',
       'Los Angeles - Highland Park', 'Los Angeles - University Hills',
       'Los Angeles - Boyle Heights', 'City of Pomona',
       'City of Diamond Bar', 'Unincorporated - Rowland Heights',
       'City of Industry', 'City of Walnut', 'Unincorporated - Covina',
       'City of Covina', 'City of San Dimas',
       'Unincorporated - Covina (Charter Oak)', 'City of Glendora',
       'Unincorporated - Azusa', 'City of Azusa', 'City of Norwalk',
       'City of Artesia', 'City of Lakewood', 'City of Hawaiian Gardens',
       'City of Long Beach', 'City of Cerritos',
       'Los Angeles - Little Tokyo', 'Los Angeles - Chinatown',
       'Los Angeles - Downtown', 'Los Angeles - Temple-Beaudry',
       'Los Angeles - Historic Filipinotown', 'Los Angeles - Westlake',
       'City of Irwindale', 'City of Baldwin Park', 'City of West Covina',
       'City of Signal Hill', 'Los Angeles - Pico-Union',
       'Los Angeles - Hancock Park', 'Los Angeles - Wilshire Center',
       'Los Angeles - Little Bangladesh', 'Los Angeles - Koreatown',
       'Unincorporated - Bassett', 'City of La Puente',
       'Unincorporated - West Puente Valley', 'Unincorporated - Valinda',
       'Unincorporated - San Jose Hills',
       'Unincorporated - Avocado Heights',
       'Unincorporated - North Whittier',
       'Unincorporated - Hacienda Heights', 'Los Angeles - Tujunga',
       'Los Angeles - Sun Valley', 'Los Angeles - Sunland',
       'Los Angeles - Lakeview Terrace', 'Los Angeles - Shadow Hills',
       'Los Angeles - Pacoima', 'Los Angeles - Country Club Park',
       'Los Angeles - Melrose', 'Los Angeles - Park La Brea',
       'Los Angeles - Carthay', 'Los Angeles - Miracle Mile',
       'Los Angeles - South Carthay', 'Los Angeles - Crestview',
       'Los Angeles - Mid-city', 'City of La Verne', 'City of Duarte',
       'City of Bradbury', 'City of Monrovia', 'City of Arcadia',
       'City of Sierra Madre', 'City of Downey', 'City of Avalon',
       'Unincorporated - Santa Catalina Island',
       'Unincorporated - Athens-Westmont', 'City of Inglewood',
       'Unincorporated - Lennox', 'Unincorporated - Kagel/Lopez Canyons',
       'Los Angeles - Sylmar', 'Los Angeles - Granada Hills',
       'Los Angeles - Victoria Park', 'Los Angeles - St Elmo Village',
       'Los Angeles - Lafayette Square',
       'Los Angeles - Cloverdale/Cochran', 'Los Angeles - Longwood',
       'Los Angeles - Wellington Square', 'Los Angeles - West Adams',
       'Los Angeles - Jefferson Park', 'Los Angeles - Crenshaw District',
       'Los Angeles - Exposition', 'Los Angeles - Alsace',
       'Los Angeles - Baldwin Hills', 'Los Angeles - Harvard Heights',
       'Los Angeles - University Park', 'Unincorporated - Duarte',
       'Unincorporated - Monrovia', 'Unincorporated - Arcadia',
       'City of Temple City', 'City of Rosemead', 'City of El Monte',
       'City of South El Monte', 'City of Hawthorne',
       'Unincorporated - Del Aire', 'Unincorporated - Wiseburn',
       'Unincorporated - Hawthorne', 'City of Gardena',
       'Los Angeles - Porter Ranch', 'Los Angeles - Mission Hills',
       'Los Angeles - North Hills', 'Los Angeles - Northridge',
       'Los Angeles - Chatsworth', 'Unincorporated - West Chatsworth',
       'Los Angeles - West Hills', 'Los Angeles - Canoga Park',
       'Unincorporated - Lake Manor', 'Los Angeles - Exposition Park',
       'Los Angeles - Adams-Normandie', 'Los Angeles - Central',
       'City of Manhattan Beach', 'Los Angeles - Vernon Central',
       'Los Angeles - South Park', 'Unincorporated - East Pasadena',
       'City of Pasadena', 'Unincorporated - Altadena',
       'City of La Canada Flintridge',
       'Unincorporated - El Camino Village', 'City of Lawndale',
       'Unincorporated - La Rambla', 'City of El Segundo',
       'City of Redondo Beach', 'City of Hermosa Beach',
       'Los Angeles - Winnetka', 'Los Angeles - Arleta',
       'Los Angeles - Panorama City', 'Los Angeles - West Vernon',
       'Los Angeles - Vermont Square', 'Los Angeles - Leimert Park',
       'Los Angeles - Hyde Park', 'Los Angeles - View Heights',
       'Unincorporated - San Pasqual', 'City of San Marino',
       'Unincorporated - Northeast San Gabriel', 'City of San Gabriel',
       'City of Alhambra', 'City of South Pasadena', 'City of Torrance',
       'City of Lomita', 'City of Rolling Hills Estates',
       'City of Palos Verdes Estates', 'Los Angeles - North Hollywood',
       'Los Angeles - Harvard Park', 'Los Angeles - Vermont Knolls',
       'Los Angeles - Manchester Square', 'Los Angeles - Gramercy Place',
       'Los Angeles - Vermont Vista', 'Los Angeles - Florence-Firestone',
       'Los Angeles - Green Meadows', 'City of Monterey Park',
       'Unincorporated - South San Gabriel', 'City of Montebello',
       'City of La Habra Heights', 'City of Whittier',
       'Unincorporated - Whittier', 'City of Rancho Palos Verdes',
       'City of Rolling Hills', 'City of West Hollywood',
       'City of Beverly Hills', 'City of Santa Monica',
       'Los Angeles - Valley Glen', 'Los Angeles - Van Nuys',
       'Los Angeles - Valley Village', 'Los Angeles - Sherman Oaks',
       'Los Angeles - Toluca Lake', 'Los Angeles - Toluca Woods',
       'Los Angeles - Century Palms/Cove',
       'Los Angeles - Figueroa Park Square', 'Los Angeles - Watts',
       'Los Angeles - Beverly Crest', 'Los Angeles - Bel Air',
       'Los Angeles - Brentwood', 'Los Angeles - Mandeville Canyon',
       'Los Angeles - Pacific Palisades',
       'Los Angeles - Palisades Highlands', 'City of Pico Rivera',
       'Unincorporated - West Whittier/Los Nietos',
       'Unincorporated - South Whittier', 'City of Santa Fe Springs',
       'City of Culver City', 'Unincorporated - Marina del Rey',
       'Unincorporated - Ladera Heights',
       'Unincorporated - View Park/Windsor Hills', 'City of Calabasas',
       'Unincorporated - Santa Monica Mountains', 'City of Agoura Hills',
       'City of Westlake Village', 'Unincorporated - Elizabeth Lake',
       'City of Malibu', 'City of Palmdale', 'Unincorporated - Hi Vista',
       'Unincorporated - Lake Los Angeles', 'City of Lancaster',
       'Los Angeles - Lake Balboa', 'Los Angeles - Reseda',
       'Los Angeles - Reseda Ranch', 'Los Angeles - Westwood',
       'Los Angeles - Century City', 'Los Angeles - West Los Angeles',
       'Los Angeles - Rancho Park', 'Los Angeles - Cheviot Hills',
       'Los Angeles - Beverlywood', 'City of La Mirada',
       'Unincorporated - East Whittier',
       'Unincorporated - East La Mirada',
       'Unincorporated - East Los Angeles',
       'Unincorporated - North Lancaster', 'Unincorporated - Quartz Hill',
       'Unincorporated - West Antelope Valley',
       'Unincorporated - Leona Valley', 'Los Angeles - Woodland Hills',
       'Los Angeles - Cadillac-Corning', 'Los Angeles - Reynier Village',
       'Los Angeles - Palms', 'Los Angeles - Regent Square',
       'Los Angeles - Faircrest Heights', 'Los Angeles - Mar Vista',
       'Los Angeles - Venice', 'City of Commerce',
       'City of Huntington Park', 'Unincorporated - Florence-Firestone',
       'Los Angeles - Westchester', 'City of Maywood',
       'Unincorporated - Roosevelt',
       'Unincorporated - Littlerock/Pearblossom',
       'Unincorporated - White Fence Farms', 'Unincorporated - Anaverde',
       'Los Angeles - Harbor City',
       'Unincorporated - Southeast Antelope Valley',
       'Unincorporated - Acton', 'City of Santa Clarita',
       'Unincorporated - Agua Dulce', 'Los Angeles - Encino',
       'Los Angeles - Tarzana', 'Los Angeles - Marina Peninsula',
       'Los Angeles - Del Rey', 'Los Angeles - Playa Vista',
       'Los Angeles - Playa Del Rey', 'Los Angeles - Harbor Gateway',
       'City of Bell', 'City of Bell Gardens', 'City of Cudahy',
       'Unincorporated - Walnut Park', 'City of South Gate',
       'Unincorporated - Angeles National Forest',
       'Unincorporated - Llano', 'Unincorporated - Palmdale',
       'Unincorporated - Saugus/Canyon Country',
       'Unincorporated - San Francisquito Canyon/Bouquet Canyon',
       'Unincorporated - Castaic', 'Unincorporated - Val Verde',
       'Los Angeles - Studio City', 'Los Angeles - Hollywood Hills',
       'Los Angeles - Eagle Rock', 'Los Angeles - Harbor Pines',
       'Los Angeles - Wilmington', 'Los Angeles - San Pedro',
       'Unincorporated - La Crescenta-Montrose', 'City of Lynwood',
       'Unincorporated - Willowbrook', 'Unincorporated - Athens Village',
       'City of Carson',
       'Unincorporated - Rosewood/West Rancho Dominguez',
       'City of Compton', 'Unincorporated - Twin Lakes/Oat Mountain',
       'Unincorporated - Stevenson Ranch', 'City of Burbank',
       'Unincorporated - South Edwards', 'Los Angeles - Los Feliz',
       'Los Angeles - Elysian Park', 'City of Vernon',
       'Unincorporated - West LA', 'Los Angeles - Mt. Washington',
       'Los Angeles - Elysian Valley', 'Los Angeles - Glassell Park',
       'Los Angeles - Atwater Village', 'Los Angeles - Silverlake',
       'Los Angeles - Hollywood', 'City of Glendale',
       'Unincorporated - East Rancho Dominguez',
       'Unincorporated - Rancho Dominguez',
       'Unincorporated - West Carson',
       'Los Angeles - Angeles National Forest',
       'Unincorporated - Whittier Narrows',
       'Unincorporated - Universal City', 'Los Angeles - Thai Town',
       'Los Angeles - Little Armenia', 'Los Angeles - East Hollywood',
       'City of San Fernando', 'City of Claremont',
       'Los Angeles - Echo Park', 'Los Angeles - Angelino Heights',
       'Unincorporated - Pomona', 'City of Bellflower',
       'City of Paramount'], dtype=object)

Since all of our data is from Los Angeles, we can just look at the city instead.

In [28]:
# function to single out the city/community from the string
def a (city):
    if ' - ' in city:
        idx = city.index('- ')
    else:
        idx = -2
    return city[idx+2:]
ami['csa'] = ami['csa'].apply(a)

In [29]:
ami.head()

,tract,med_hh_income,med_hh_income_universe,ami_category,below_med_income,below_60pct_med_income,below_moderate_income,sup_dist,csa,spa,ESRI_OID,Shape__Area,Shape__Length,geometry
0,06037199700,38892.0,1204,Very Low Income,Yes,Yes,Yes,District 1,Wholesale District,SPA 4 - Metro,2347,1.041050e+07,13808.463241,"POLYGON ((-118.22672 34.06242, -118.22453 34.0..."
1,06037199801,41027.0,903,Very Low Income,Yes,Yes,Yes,District 1,Lincoln Heights,SPA 4 - Metro,2348,3.724107e+06,9459.391827,"POLYGON ((-118.21559 34.07186, -118.21169 34.0..."
2,06037199802,42500.0,612,Very Low Income,Yes,Yes,Yes,District 1,Lincoln Heights,SPA 4 - Metro,2349,3.296129e+06,8868.744225,"POLYGON ((-118.21563 34.07365, -118.21309 34.0..."
3,06037199900,37232.0,845,Very Low Income,Yes,Yes,Yes,District 1,Lincoln Heights,SPA 4 - Metro,2350,4.782361e+06,10141.728022,"POLYGON ((-118.21528 34.06349, -118.21547 34.0..."
4,06037201110,65000.0,782,Low Income,Yes,No,Yes,District 1,El Sereno,SPA 4 - Metro,2351,1.099246e+07,15893.383636,"POLYGON ((-118.18182 34.09277, -118.18039 34.0..."

We should also check for null values.

In [30]:
# checking if csa column has nans
ami['csa'].hasnans

False

In [31]:
# checking if ami category colunn has nans
ami['ami_category'].hasnans

True

In [32]:
# checking if median_hh_income has nans
ami['med_hh_income'].hasnans

True

In [33]:
# finding all the rows in the dataframe where med_hh_income column ins NaN
ami.loc[ ami['med_hh_income'].isna() ]

,tract,med_hh_income,med_hh_income_universe,ami_category,below_med_income,below_60pct_med_income,below_moderate_income,sup_dist,csa,spa,ESRI_OID,Shape__Area,Shape__Length,geometry
446,06037216301,NaN,614,None,None,None,None,District 2,Miracle Mile,SPA 4 - Metro,2793,6.049547e+06,11309.816320,"POLYGON ((-118.37618 34.05960, -118.37226 34.0..."
502,06037578100,NaN,0,None,None,None,None,District 4,City of Long Beach,SPA 8 - South Bay,2849,1.851637e+07,18912.709493,"POLYGON ((-118.12347 33.78716, -118.12143 33.7..."
504,06037599100,NaN,79,None,None,None,None,District 4,Santa Catalina Island,SPA 8 - South Bay,2851,3.698756e+09,554591.259931,"MULTIPOLYGON (((-118.60443 33.47856, -118.5988..."
761,06037222700,NaN,108,None,None,None,None,District 2,Exposition Park,SPA 6 - South,3108,9.012062e+06,13506.623725,"POLYGON ((-118.29155 34.02550, -118.28776 34.0..."
896,06037115103,NaN,11,None,None,None,None,District 3,Northridge,SPA 2 - San Fernando,3243,1.632932e+07,22141.574995,"POLYGON ((-118.53393 34.24457, -118.52741 34.2..."
1458,06037265301,NaN,0,None,None,None,None,District 3,Westwood,SPA 5 - West,3805,1.737124e+07,20071.778704,"POLYGON ((-118.45550 34.07585, -118.45467 34.0..."
1560,06037901003,NaN,0,None,None,None,None,District 5,City of Lancaster,SPA 1 - Antelope Valley,3907,2.809203e+07,21201.257350,"POLYGON ((-118.23668 34.70401, -118.21916 34.7..."
1658,06037273403,NaN,1020,None,None,None,None,District 3,Venice,SPA 5 - West,4005,2.869621e+06,8586.103161,"POLYGON ((-118.47977 33.99453, -118.47762 33.9..."
2052,06037920200,NaN,0,None,None,None,None,District 5,Castaic,SPA 2 - San Fernando,4399,1.222087e+08,64176.721584,"POLYGON ((-118.61868 34.48922, -118.61079 34.4..."
2072,06037980001,NaN,0,None,None,None,None,District 5,City of Burbank,SPA 2 - San Fernando,4419,2.508105e+07,22534.656488,"POLYGON ((-118.37032 34.20120, -118.36582 34.2..."
2073,06037980002,NaN,0,None,None,None,None,District 2,City of Carson,SPA 8 - South Bay,4420,7.507961e+07,37687.147692,"POLYGON ((-118.25846 33.79945, -118.25652 33.8..."
2074,06037980003,NaN,0,None,None,None,None,District 5,South Edwards,SPA 1 - Antelope Valley,4421,2.082305e+09,272360.490530,"POLYGON ((-118.14022 34.79180, -118.13987 34.7..."
2075,06037980004,NaN,0,None,None,None,None,District 5,City of Palmdale,SPA 1 - Antelope Valley,4422,3.858493e+08,88089.895702,"POLYGON ((-118.12796 34.64588, -118.11234 34.6..."
2076,06037980005,NaN,0,None,None,None,None,District 4,City of Torrance,SPA 8 - South Bay,4423,4.363157e+07,31657.990883,"POLYGON ((-118.35179 33.85823, -118.34369 33.8..."
2077,06037980006,NaN,0,None,None,None,None,District 4,City of Long Beach,SPA 8 - South Bay,4424,3.620442e+07,38004.976264,"POLYGON ((-118.09426 33.78663, -118.09031 33.7..."
2078,06037980007,NaN,0,None,None,None,None,District 4,City of Long Beach,SPA 8 - South Bay,4425,2.909938e+07,24048.956278,"POLYGON ((-118.11513 33.76305, -118.11360 33.7..."
2079,06037980008,NaN,17,None,None,None,None,District 3,Van Nuys,SPA 2 - San Fernando,4426,3.652047e+07,33527.736662,"POLYGON ((-118.50268 34.22121, -118.50116 34.2..."
2080,06037980009,NaN,0,None,None,None,None,District 5,Los Feliz,SPA 4 - Metro,4427,2.284265e+08,78138.601743,"POLYGON ((-118.33708 34.14161, -118.33196 34.1..."
2083,06037980012,NaN,0,None,None,None,None,District 4,City of Downey,SPA 7 - East,4430,9.903054e+06,15069.521687,"POLYGON ((-118.16781 33.92610, -118.16759 33.9..."
2084,06037980013,NaN,0,None,None,None,None,District 2,City of El Segundo,SPA 8 - South Bay,4431,5.705245e+07,33824.623984,"POLYGON ((-118.39629 33.92702, -118.39612 33.9..."
2085,06037980014,NaN,11,None,None,None,None,District 4,Wilmington,SPA 8 - South Bay,4432,8.046195e+07,67612.005399,"POLYGON ((-118.26089 33.76851, -118.25631 33.7..."
2089,06037980018,NaN,0,None,None,None,None,District 4,City of Long Beach,SPA 8 - South Bay,4436,7.969295e+07,54854.595412,"POLYGON ((-118.18067 33.81165, -118.17851 33.8..."
2091,06037980020,NaN,0,None,None,None,None,District 5,Sun Valley,SPA 2 - San Fernando,4438,9.178436e+07,60339.110547,"POLYGON ((-118.34413 34.21700, -118.34390 34.2..."
2092,06037980021,NaN,14,None,None,None,None,District 5,Lakeview Terrace,SPA 2 - San Fernando,4439,7.508840e+07,50381.103471,"POLYGON ((-118.40115 34.26659, -118.40042 34.2..."
2093,06037980022,NaN,0,None,None,None,None,District 3,Granada Hills,SPA 2 - San Fernando,4440,6.940722e+07,41500.667957,"POLYGON ((-118.50266 34.30829, -118.49989 34.3..."
2223,06037980023,NaN,0,None,None,None,None,District 3,West Hills,SPA 2 - San Fernando,4570,5.692099e+07,39154.636778,"POLYGON ((-118.64777 34.23499, -118.64699 34.2..."
2225,06037980026,NaN,0,None,None,None,None,District 5,Angeles National Forest,SPA 2 - San Fernando,4572,1.496110e+08,101888.807192,"POLYGON ((-118.35174 34.28248, -118.32684 34.2..."
2226,06037980028,NaN,0,None,None,None,None,District 2,Westchester,SPA 5 - West,4573,1.818711e+08,80476.270923,"POLYGON ((-118.44457 33.95132, -118.44012 33.9..."
2227,06037980030,NaN,0,None,None,None,None,District 2,City of El Segundo,SPA 8 - South Bay,4574,4.475804e+07,28958.117334,"POLYGON ((-118.42868 33.91632, -118.42223 33.9..."
2228,06037980031,NaN,22,None,None,None,None,District 4,San Pedro,SPA 8 - South Bay,4575,2.784858e+08,79769.849940,"POLYGON ((-118.29106 33.75378, -118.29051 33.7..."
2229,06037980033,NaN,14,None,None,None,None,District 4,City of Long Beach,SPA 8 - South Bay,4576,3.061391e+08,76112.964182,"POLYGON ((-118.24117 33.75855, -118.24546 33.7..."
2230,06037980034,NaN,9,None,None,None,None,District 4,City of Santa Fe Springs,SPA 7 - East,4577,6.957459e+07,60488.936122,"POLYGON ((-118.06397 33.90228, -118.06129 33.9..."
2232,06037980036,NaN,164,None,None,None,None,District 1,Whittier Narrows,SPA 3 - San Gabriel,4579,9.410894e+07,63183.082619,"POLYGON ((-118.08206 34.02148, -118.07362 34.0..."
2233,06037980037,NaN,0,None,None,None,None,District 2,City of Carson,SPA 8 - South Bay,4580,1.376446e+07,14866.138291,"POLYGON ((-118.28858 33.80427, -118.28752 33.8..."
2234,06037980038,NaN,0,None,None,None,None,District 2,Ladera Heights,SPA 5 - West,4581,4.852656e+07,42566.840167,"POLYGON ((-118.38971 34.00449, -118.38820 34.0..."
2235,06037980039,NaN,0,None,None,None,None,District 5,Universal City,SPA 2 - San Fernando,4582,1.464017e+07,17601.678331,"POLYGON ((-118.36097 34.14114, -118.36128 34.1..."
2442,06037402404,NaN,4,None,None,None,None,District 1,Pomona,SPA 3 - San Gabriel,4789,4.419568e+07,35663.185883,"POLYGON ((-117.83588 34.05367, -117.82906 34.0..."

In [34]:
# all of the rows having NaN in med_hh_income column have NaNs in ami_catgory, 
# below_med_income, below_60pct_med_income, and below_moderate_income as well
ami.loc[ ami['med_hh_income'].isna()].shape
ami.shape

(2495, 14)

In [35]:
# shape of df once dropping rows with NaN
ami.dropna().shape

(2458, 14)

In [36]:
# dropping rows with nans
ami.dropna(inplace = True)

In [37]:
ami['med_hh_income'].hasnans

False

In [38]:
ami['ami_category'].hasnans

False

To optimize run time even more, we can eliminate redundant information. For example, in the csa column, many of the locations are described as 'City of ...'. We will therefore remove this description and only keep the name of the city instead.

In [39]:
ami['csa'].unique()

array(['Wholesale District', 'Lincoln Heights', 'El Sereno',
       'Highland Park', 'University Hills', 'Boyle Heights',
       'City of Pomona', 'City of Diamond Bar', 'Rowland Heights',
       'City of Industry', 'City of Walnut', 'Covina', 'City of Covina',
       'City of San Dimas', 'Covina (Charter Oak)', 'City of Glendora',
       'Azusa', 'City of Azusa', 'City of Norwalk', 'City of Artesia',
       'City of Lakewood', 'City of Hawaiian Gardens',
       'City of Long Beach', 'City of Cerritos', 'Little Tokyo',
       'Chinatown', 'Downtown', 'Temple-Beaudry', 'Historic Filipinotown',
       'Westlake', 'City of Irwindale', 'City of Baldwin Park',
       'City of West Covina', 'City of Signal Hill', 'Pico-Union',
       'Hancock Park', 'Wilshire Center', 'Little Bangladesh',
       'Koreatown', 'Bassett', 'City of La Puente', 'West Puente Valley',
       'Valinda', 'San Jose Hills', 'Avocado Heights', 'North Whittier',
       'Hacienda Heights', 'Tujunga', 'Sun Valley', 'Sunland',
       'Lakeview Terrace', 'Shadow Hills', 'Pacoima', 'Country Club Park',
       'Melrose', 'Park La Brea', 'Carthay', 'Miracle Mile',
       'South Carthay', 'Crestview', 'Mid-city', 'City of La Verne',
       'City of Duarte', 'City of Bradbury', 'City of Monrovia',
       'City of Arcadia', 'City of Sierra Madre', 'City of Downey',
       'City of Avalon', 'Athens-Westmont', 'City of Inglewood', 'Lennox',
       'Kagel/Lopez Canyons', 'Sylmar', 'Granada Hills', 'Victoria Park',
       'St Elmo Village', 'Lafayette Square', 'Cloverdale/Cochran',
       'Longwood', 'Wellington Square', 'West Adams', 'Jefferson Park',
       'Crenshaw District', 'Exposition', 'Alsace', 'Baldwin Hills',
       'Harvard Heights', 'University Park', 'Duarte', 'Monrovia',
       'Arcadia', 'City of Temple City', 'City of Rosemead',
       'City of El Monte', 'City of South El Monte', 'City of Hawthorne',
       'Del Aire', 'Wiseburn', 'Hawthorne', 'City of Gardena',
       'Porter Ranch', 'Mission Hills', 'North Hills', 'Northridge',
       'Chatsworth', 'West Chatsworth', 'West Hills', 'Canoga Park',
       'Lake Manor', 'Exposition Park', 'Adams-Normandie', 'Central',
       'City of Manhattan Beach', 'Vernon Central', 'South Park',
       'East Pasadena', 'City of Pasadena', 'Altadena',
       'City of La Canada Flintridge', 'El Camino Village',
       'City of Lawndale', 'La Rambla', 'City of El Segundo',
       'City of Redondo Beach', 'City of Hermosa Beach', 'Winnetka',
       'Arleta', 'Panorama City', 'West Vernon', 'Vermont Square',
       'Leimert Park', 'Hyde Park', 'View Heights', 'San Pasqual',
       'City of San Marino', 'Northeast San Gabriel',
       'City of San Gabriel', 'City of Alhambra',
       'City of South Pasadena', 'City of Torrance', 'City of Lomita',
       'City of Rolling Hills Estates', 'City of Palos Verdes Estates',
       'North Hollywood', 'Harvard Park', 'Vermont Knolls',
       'Manchester Square', 'Gramercy Place', 'Vermont Vista',
       'Florence-Firestone', 'Green Meadows', 'City of Monterey Park',
       'South San Gabriel', 'City of Montebello',
       'City of La Habra Heights', 'City of Whittier', 'Whittier',
       'City of Rancho Palos Verdes', 'City of Rolling Hills',
       'City of West Hollywood', 'City of Beverly Hills',
       'City of Santa Monica', 'Valley Glen', 'Van Nuys',
       'Valley Village', 'Sherman Oaks', 'Toluca Lake', 'Toluca Woods',
       'Century Palms/Cove', 'Figueroa Park Square', 'Watts',
       'Beverly Crest', 'Bel Air', 'Brentwood', 'Mandeville Canyon',
       'Pacific Palisades', 'Palisades Highlands', 'City of Pico Rivera',
       'West Whittier/Los Nietos', 'South Whittier',
       'City of Santa Fe Springs', 'City of Culver City',
       'Marina del Rey', 'Ladera Heights', 'View Park/Windsor Hills',
       'City of Calabasas', 'Santa Monica Mountains',
       'City of Agoura Hills', 'City of Westlake Village',
       'Elizabeth Lake', 'City of Malibu', 'City of Palmdale', 'Hi Vista',
       'Lake Los Angeles', 'City of Lancaster', 'Lake Balboa', 'Reseda',
       'Reseda Ranch', 'Westwood', 'Century City', 'West Los Angeles',
       'Rancho Park', 'Cheviot Hills', 'Beverlywood', 'City of La Mirada',
       'East Whittier', 'East La Mirada', 'East Los Angeles',
       'North Lancaster', 'Quartz Hill', 'West Antelope Valley',
       'Leona Valley', 'Woodland Hills', 'Cadillac-Corning',
       'Reynier Village', 'Palms', 'Regent Square', 'Faircrest Heights',
       'Mar Vista', 'Venice', 'City of Commerce',
       'City of Huntington Park', 'Westchester', 'City of Maywood',
       'Roosevelt', 'Littlerock/Pearblossom', 'White Fence Farms',
       'Anaverde', 'Harbor City', 'Southeast Antelope Valley', 'Acton',
       'City of Santa Clarita', 'Agua Dulce', 'Encino', 'Tarzana',
       'Marina Peninsula', 'Del Rey', 'Playa Vista', 'Playa Del Rey',
       'Harbor Gateway', 'City of Bell', 'City of Bell Gardens',
       'City of Cudahy', 'Walnut Park', 'City of South Gate',
       'Angeles National Forest', 'Llano', 'Palmdale',
       'Saugus/Canyon Country', 'San Francisquito Canyon/Bouquet Canyon',
       'Castaic', 'Val Verde', 'Studio City', 'Hollywood Hills',
       'Eagle Rock', 'Harbor Pines', 'Wilmington', 'San Pedro',
       'La Crescenta-Montrose', 'City of Lynwood', 'Willowbrook',
       'Athens Village', 'City of Carson',
       'Rosewood/West Rancho Dominguez', 'City of Compton',
       'Twin Lakes/Oat Mountain', 'Stevenson Ranch', 'Elysian Park',
       'City of Vernon', 'West LA', 'Mt. Washington', 'Elysian Valley',
       'Glassell Park', 'Atwater Village', 'Silverlake', 'Los Feliz',
       'Hollywood', 'City of Glendale', 'East Rancho Dominguez',
       'Rancho Dominguez', 'West Carson', 'Thai Town', 'Little Armenia',
       'East Hollywood', 'City of Burbank', 'City of San Fernando',
       'City of Claremont', 'Echo Park', 'Angelino Heights',
       'City of Bellflower', 'City of Paramount'], dtype=object)

In [40]:
# drop the 'City of' part of the string, as that is unnecessary
fncof = lambda x : x if 'City of ' not in x else x[8:]
ami['csa'] = ami['csa'].apply(fncof)

In [41]:
#checking the unique values
ami['csa'].unique()

array(['Wholesale District', 'Lincoln Heights', 'El Sereno',
       'Highland Park', 'University Hills', 'Boyle Heights', 'Pomona',
       'Diamond Bar', 'Rowland Heights', 'Industry', 'Walnut', 'Covina',
       'San Dimas', 'Covina (Charter Oak)', 'Glendora', 'Azusa',
       'Norwalk', 'Artesia', 'Lakewood', 'Hawaiian Gardens', 'Long Beach',
       'Cerritos', 'Little Tokyo', 'Chinatown', 'Downtown',
       'Temple-Beaudry', 'Historic Filipinotown', 'Westlake', 'Irwindale',
       'Baldwin Park', 'West Covina', 'Signal Hill', 'Pico-Union',
       'Hancock Park', 'Wilshire Center', 'Little Bangladesh',
       'Koreatown', 'Bassett', 'La Puente', 'West Puente Valley',
       'Valinda', 'San Jose Hills', 'Avocado Heights', 'North Whittier',
       'Hacienda Heights', 'Tujunga', 'Sun Valley', 'Sunland',
       'Lakeview Terrace', 'Shadow Hills', 'Pacoima', 'Country Club Park',
       'Melrose', 'Park La Brea', 'Carthay', 'Miracle Mile',
       'South Carthay', 'Crestview', 'Mid-city', 'La Verne', 'Duarte',
       'Bradbury', 'Monrovia', 'Arcadia', 'Sierra Madre', 'Downey',
       'Avalon', 'Athens-Westmont', 'Inglewood', 'Lennox',
       'Kagel/Lopez Canyons', 'Sylmar', 'Granada Hills', 'Victoria Park',
       'St Elmo Village', 'Lafayette Square', 'Cloverdale/Cochran',
       'Longwood', 'Wellington Square', 'West Adams', 'Jefferson Park',
       'Crenshaw District', 'Exposition', 'Alsace', 'Baldwin Hills',
       'Harvard Heights', 'University Park', 'Temple City', 'Rosemead',
       'El Monte', 'South El Monte', 'Hawthorne', 'Del Aire', 'Wiseburn',
       'Gardena', 'Porter Ranch', 'Mission Hills', 'North Hills',
       'Northridge', 'Chatsworth', 'West Chatsworth', 'West Hills',
       'Canoga Park', 'Lake Manor', 'Exposition Park', 'Adams-Normandie',
       'Central', 'Manhattan Beach', 'Vernon Central', 'South Park',
       'East Pasadena', 'Pasadena', 'Altadena', 'La Canada Flintridge',
       'El Camino Village', 'Lawndale', 'La Rambla', 'El Segundo',
       'Redondo Beach', 'Hermosa Beach', 'Winnetka', 'Arleta',
       'Panorama City', 'West Vernon', 'Vermont Square', 'Leimert Park',
       'Hyde Park', 'View Heights', 'San Pasqual', 'San Marino',
       'Northeast San Gabriel', 'San Gabriel', 'Alhambra',
       'South Pasadena', 'Torrance', 'Lomita', 'Rolling Hills Estates',
       'Palos Verdes Estates', 'North Hollywood', 'Harvard Park',
       'Vermont Knolls', 'Manchester Square', 'Gramercy Place',
       'Vermont Vista', 'Florence-Firestone', 'Green Meadows',
       'Monterey Park', 'South San Gabriel', 'Montebello',
       'La Habra Heights', 'Whittier', 'Rancho Palos Verdes',
       'Rolling Hills', 'West Hollywood', 'Beverly Hills', 'Santa Monica',
       'Valley Glen', 'Van Nuys', 'Valley Village', 'Sherman Oaks',
       'Toluca Lake', 'Toluca Woods', 'Century Palms/Cove',
       'Figueroa Park Square', 'Watts', 'Beverly Crest', 'Bel Air',
       'Brentwood', 'Mandeville Canyon', 'Pacific Palisades',
       'Palisades Highlands', 'Pico Rivera', 'West Whittier/Los Nietos',
       'South Whittier', 'Santa Fe Springs', 'Culver City',
       'Marina del Rey', 'Ladera Heights', 'View Park/Windsor Hills',
       'Calabasas', 'Santa Monica Mountains', 'Agoura Hills',
       'Westlake Village', 'Elizabeth Lake', 'Malibu', 'Palmdale',
       'Hi Vista', 'Lake Los Angeles', 'Lancaster', 'Lake Balboa',
       'Reseda', 'Reseda Ranch', 'Westwood', 'Century City',
       'West Los Angeles', 'Rancho Park', 'Cheviot Hills', 'Beverlywood',
       'La Mirada', 'East Whittier', 'East La Mirada', 'East Los Angeles',
       'North Lancaster', 'Quartz Hill', 'West Antelope Valley',
       'Leona Valley', 'Woodland Hills', 'Cadillac-Corning',
       'Reynier Village', 'Palms', 'Regent Square', 'Faircrest Heights',
       'Mar Vista', 'Venice', 'Commerce', 'Huntington Park',
       'Westchester', 'Maywood', 'Roosevelt', 'Littlerock/Pearblossom',
       'White Fence Farms', 'Anaverde', 'Harbor City',
       'Southeast Antelope Valley', 'Acton', 'Santa Clarita',
       'Agua Dulce', 'Encino', 'Tarzana', 'Marina Peninsula', 'Del Rey',
       'Playa Vista', 'Playa Del Rey', 'Harbor Gateway', 'Bell',
       'Bell Gardens', 'Cudahy', 'Walnut Park', 'South Gate',
       'Angeles National Forest', 'Llano', 'Saugus/Canyon Country',
       'San Francisquito Canyon/Bouquet Canyon', 'Castaic', 'Val Verde',
       'Studio City', 'Hollywood Hills', 'Eagle Rock', 'Harbor Pines',
       'Wilmington', 'San Pedro', 'La Crescenta-Montrose', 'Lynwood',
       'Willowbrook', 'Athens Village', 'Carson',
       'Rosewood/West Rancho Dominguez', 'Compton',
       'Twin Lakes/Oat Mountain', 'Stevenson Ranch', 'Elysian Park',
       'Vernon', 'West LA', 'Mt. Washington', 'Elysian Valley',
       'Glassell Park', 'Atwater Village', 'Silverlake', 'Los Feliz',
       'Hollywood', 'Glendale', 'East Rancho Dominguez',
       'Rancho Dominguez', 'West Carson', 'Thai Town', 'Little Armenia',
       'East Hollywood', 'Burbank', 'San Fernando', 'Claremont',
       'Echo Park', 'Angelino Heights', 'Bellflower', 'Paramount'],
      dtype=object)

Lastly, we can delete unnecessary columns.

In [42]:
ami = ami.drop(columns=['tract', 'ESRI_OID'])
ami.head()

,med_hh_income,med_hh_income_universe,ami_category,below_med_income,below_60pct_med_income,below_moderate_income,sup_dist,csa,spa,Shape__Area,Shape__Length,geometry
0,38892.0,1204,Very Low Income,Yes,Yes,Yes,District 1,Wholesale District,SPA 4 - Metro,1.041050e+07,13808.463241,"POLYGON ((-118.22672 34.06242, -118.22453 34.0..."
1,41027.0,903,Very Low Income,Yes,Yes,Yes,District 1,Lincoln Heights,SPA 4 - Metro,3.724107e+06,9459.391827,"POLYGON ((-118.21559 34.07186, -118.21169 34.0..."
2,42500.0,612,Very Low Income,Yes,Yes,Yes,District 1,Lincoln Heights,SPA 4 - Metro,3.296129e+06,8868.744225,"POLYGON ((-118.21563 34.07365, -118.21309 34.0..."
3,37232.0,845,Very Low Income,Yes,Yes,Yes,District 1,Lincoln Heights,SPA 4 - Metro,4.782361e+06,10141.728022,"POLYGON ((-118.21528 34.06349, -118.21547 34.0..."
4,65000.0,782,Low Income,Yes,No,Yes,District 1,El Sereno,SPA 4 - Metro,1.099246e+07,15893.383636,"POLYGON ((-118.18182 34.09277, -118.18039 34.0..."

Let's take a final look at our dataset!

In [43]:
ami

,med_hh_income,med_hh_income_universe,ami_category,below_med_income,below_60pct_med_income,below_moderate_income,sup_dist,csa,spa,Shape__Area,Shape__Length,geometry
0,38892.0,1204,Very Low Income,Yes,Yes,Yes,District 1,Wholesale District,SPA 4 - Metro,1.041050e+07,13808.463241,"POLYGON ((-118.22672 34.06242, -118.22453 34.0..."
1,41027.0,903,Very Low Income,Yes,Yes,Yes,District 1,Lincoln Heights,SPA 4 - Metro,3.724107e+06,9459.391827,"POLYGON ((-118.21559 34.07186, -118.21169 34.0..."
2,42500.0,612,Very Low Income,Yes,Yes,Yes,District 1,Lincoln Heights,SPA 4 - Metro,3.296129e+06,8868.744225,"POLYGON ((-118.21563 34.07365, -118.21309 34.0..."
3,37232.0,845,Very Low Income,Yes,Yes,Yes,District 1,Lincoln Heights,SPA 4 - Metro,4.782361e+06,10141.728022,"POLYGON ((-118.21528 34.06349, -118.21547 34.0..."
4,65000.0,782,Low Income,Yes,No,Yes,District 1,El Sereno,SPA 4 - Metro,1.099246e+07,15893.383636,"POLYGON ((-118.18182 34.09277, -118.18039 34.0..."
...,...,...,...,...,...,...,...,...,...,...,...,...
2490,126450.0,1215,Above Moderate Income,No,No,No,District 4,Cerritos,SPA 7 - East,1.555650e+07,21274.227408,"POLYGON ((-118.07225 33.85452, -118.07047 33.8..."
2491,107672.0,1352,Above Moderate Income,No,No,No,District 4,Cerritos,SPA 7 - East,1.421767e+07,15905.089174,"POLYGON ((-118.06374 33.86586, -118.05352 33.8..."
2492,104439.0,1558,Above Moderate Income,No,No,No,District 4,Cerritos,SPA 7 - East,1.938903e+07,21218.412991,"POLYGON ((-118.04646 33.87326, -118.03776 33.8..."
2493,131012.0,1216,Above Moderate Income,No,No,No,District 4,Cerritos,SPA 7 - East,1.866694e+07,19500.866806,"POLYGON ((-118.06362 33.85858, -118.05495 33.8..."
2494,90280.0,1863,Low Income,No,No,Yes,District 4,Cerritos,SPA 7 - East,5.352220e+07,37625.839752,"POLYGON ((-118.10858 33.88694, -118.10828 33.8..."

# Combining the datasets

In [44]:
ami['geometry']

0       POLYGON ((-118.22672 34.06242, -118.22453 34.0...
1       POLYGON ((-118.21559 34.07186, -118.21169 34.0...
2       POLYGON ((-118.21563 34.07365, -118.21309 34.0...
3       POLYGON ((-118.21528 34.06349, -118.21547 34.0...
4       POLYGON ((-118.18182 34.09277, -118.18039 34.0...
                              ...
2490    POLYGON ((-118.07225 33.85452, -118.07047 33.8...
2491    POLYGON ((-118.06374 33.86586, -118.05352 33.8...
2492    POLYGON ((-118.04646 33.87326, -118.03776 33.8...
2493    POLYGON ((-118.06362 33.85858, -118.05495 33.8...
2494    POLYGON ((-118.10858 33.88694, -118.10828 33.8...
Name: geometry, Length: 2458, dtype: geometry

In [45]:
ami.columns

Index(['med_hh_income', 'med_hh_income_universe', 'ami_category',
       'below_med_income', 'below_60pct_med_income', 'below_moderate_income',
       'sup_dist', 'csa', 'spa', 'Shape__Area', 'Shape__Length', 'geometry'],
      dtype='object')

In [46]:
def getArea(lat, lon, df):
    for index in df.index:
        polygon = df.loc[index, 'geometry']
        point = Point(lon, lat)
        if polygon.contains(point) or polygon.touches(point):
            return [df.loc[index, 'csa'], df.loc[index, 'ami_category']]
    return [None, None]

In [48]:
cities = []
income = []
count = 0
for index in citations.index:
    lat = citations.loc[index, 'Latitude']
    lon = citations.loc[index, 'Longitude']
    amiRegion = getArea(lat, lon, ami)
    csa = amiRegion[0]
    income_category = amiRegion[1]
    cities.append(csa)
    income.append(income_category)
    count += 1
    if count % 5000 == 0:
        print(count) #track progress

5000
10000
15000
20000
25000

In [50]:
citations['csa'] = cities
citations['ami_category'] = income

In [51]:
citations.head()

,Ticket number,Issue Date,RP State Plate,Make,Location,Violation code,Violation Description,Fine amount,Latitude,Longitude,year,csa,ami_category
7303609,4328154935,03/16/2018,CA,MERZ,16400 VENTURA BL,88.13B+,METER EXP.,63.0,34.157264,-118.490149,2018,Encino,Above Moderate Income
8569173,4344285551,12/11/2018,CA,BMW,9901 PICO BL W,88.13B+,METER EXP.,63.0,34.052521,-118.406265,2018,Cheviot Hills,Above Moderate Income
7362643,4329008946,03/28/2018,CA,LEXS,1147 ECHO PARK AVE,88.63B+,OFF STR/OVERTIME/MTR,58.0,34.075207,-118.258318,2018,Echo Park,Low Income
8632489,4344052042,12/23/2018,CA,MAZD,843 LOS ANGELES ST S,88.13B+,METER EXP.,63.0,34.041412,-118.253074,2018,Wholesale District,Very Low Income
6971339,4324364936,01/10/2018,CA,DODG,579 VENICE BLVD,80.71.3,PARKING/FRONT YARD,68.0,33.987596,-118.464595,2018,Venice,Above Moderate Income

In [52]:
citations['csa'].unique()

array(['Encino', 'Cheviot Hills', 'Echo Park', 'Wholesale District',
       'Venice', 'Del Rey', 'San Pedro', 'Baldwin Hills', 'Reseda',
       'Westlake', 'Van Nuys', 'East Hollywood', 'Silverlake',
       'Brentwood', 'Carthay', 'Hancock Park', 'Downtown', 'Los Feliz',
       'Sherman Oaks', 'Miracle Mile', 'West Los Angeles',
       'Little Armenia', 'Hollywood', 'Florence-Firestone',
       'Harbor Gateway', 'Melrose', 'Hollywood Hills', 'North Hollywood',
       'Lincoln Heights', 'South Carthay', 'Palms', 'Woodland Hills',
       'University Park', 'Beverlywood', 'Wilshire Center', 'Rancho Park',
       None, 'Tarzana', 'Little Tokyo', 'Granada Hills', 'North Hills',
       'Temple-Beaudry', 'Pico-Union', 'Valley Village', 'Studio City',
       'Mar Vista', 'Pacific Palisades', 'Figueroa Park Square',
       'Boyle Heights', 'Wilmington', 'Historic Filipinotown', 'Westwood',
       'Exposition Park', 'Harvard Park', 'Century Palms/Cove',
       'Eagle Rock', 'Winnetka', 'Atwater Village', 'Lafayette Square',
       'West Vernon', 'Leimert Park', 'Little Bangladesh',
       'Panorama City', 'Harvard Heights', 'Highland Park', 'Koreatown',
       'West Adams', 'Pacoima', 'Sylmar', 'Mid-city', 'Playa Vista',
       'Vernon Central', 'Crenshaw District', 'Westchester',
       'Toluca Woods', 'Valley Glen', 'Thai Town', 'Alsace',
       'Toluca Lake', 'Manchester Square', 'Northridge', 'Chinatown',
       'Victoria Park', 'Vermont Vista', 'Hyde Park', 'Vermont Square',
       'Park La Brea', 'University Hills', 'Gramercy Place',
       'Elysian Park', 'Country Club Park', 'Crestview', 'Longwood',
       'Watts', 'Jefferson Park', 'Cloverdale/Cochran', 'Exposition',
       'Playa Del Rey', 'Bel Air', 'Arleta', 'Canoga Park',
       'Regent Square', 'Lake Balboa', 'Century City', 'Glassell Park',
       'Chatsworth', 'Marina Peninsula', 'West Hills', 'Green Meadows',
       'Sun Valley', 'Mission Hills', 'Mt. Washington', 'Sunland',
       'Reynier Village', 'Cadillac-Corning', 'Adams-Normandie',
       'Marina del Rey', 'Vermont Knolls', 'South Park', 'Willowbrook',
       'Angelino Heights', 'Beverly Crest', 'El Sereno',
       'Wellington Square', 'Harbor City', 'Lakeview Terrace',
       'Elysian Valley', 'East Los Angeles', 'Faircrest Heights',
       'St Elmo Village', 'West LA', 'Culver City', 'Central', 'Carson',
       'Burbank', 'Tujunga', 'View Heights', 'Porter Ranch',
       'Reseda Ranch', 'Kagel/Lopez Canyons', 'Mandeville Canyon',
       'Palisades Highlands', 'Inglewood', 'West Carson'], dtype=object)

In [53]:
citations['ami_category'].unique()

array(['Above Moderate Income', 'Low Income', 'Very Low Income',
       'Extremely Low Income', None, 'Moderate Income'], dtype=object)

In [54]:
citations['csa'].hasnans

True

In [55]:
citations['ami_category'].hasnans

True

In [58]:
citations = citations.dropna()

In [59]:
citations['csa'].unique()

array(['Encino', 'Cheviot Hills', 'Echo Park', 'Wholesale District',
       'Venice', 'Del Rey', 'San Pedro', 'Baldwin Hills', 'Reseda',
       'Westlake', 'Van Nuys', 'East Hollywood', 'Silverlake',
       'Brentwood', 'Carthay', 'Hancock Park', 'Downtown', 'Los Feliz',
       'Sherman Oaks', 'Miracle Mile', 'West Los Angeles',
       'Little Armenia', 'Hollywood', 'Florence-Firestone',
       'Harbor Gateway', 'Melrose', 'Hollywood Hills', 'North Hollywood',
       'Lincoln Heights', 'South Carthay', 'Palms', 'Woodland Hills',
       'University Park', 'Beverlywood', 'Wilshire Center', 'Rancho Park',
       'Tarzana', 'Little Tokyo', 'Granada Hills', 'North Hills',
       'Temple-Beaudry', 'Pico-Union', 'Valley Village', 'Studio City',
       'Mar Vista', 'Pacific Palisades', 'Figueroa Park Square',
       'Boyle Heights', 'Wilmington', 'Historic Filipinotown', 'Westwood',
       'Exposition Park', 'Harvard Park', 'Century Palms/Cove',
       'Eagle Rock', 'Winnetka', 'Atwater Village', 'Lafayette Square',
       'West Vernon', 'Leimert Park', 'Little Bangladesh',
       'Panorama City', 'Harvard Heights', 'Highland Park', 'Koreatown',
       'West Adams', 'Pacoima', 'Sylmar', 'Mid-city', 'Playa Vista',
       'Vernon Central', 'Crenshaw District', 'Westchester',
       'Toluca Woods', 'Valley Glen', 'Thai Town', 'Alsace',
       'Toluca Lake', 'Manchester Square', 'Northridge', 'Chinatown',
       'Victoria Park', 'Vermont Vista', 'Hyde Park', 'Vermont Square',
       'Park La Brea', 'University Hills', 'Gramercy Place',
       'Elysian Park', 'Country Club Park', 'Crestview', 'Longwood',
       'Watts', 'Jefferson Park', 'Cloverdale/Cochran', 'Exposition',
       'Playa Del Rey', 'Bel Air', 'Arleta', 'Canoga Park',
       'Regent Square', 'Lake Balboa', 'Century City', 'Glassell Park',
       'Chatsworth', 'Marina Peninsula', 'West Hills', 'Green Meadows',
       'Sun Valley', 'Mission Hills', 'Mt. Washington', 'Sunland',
       'Reynier Village', 'Cadillac-Corning', 'Adams-Normandie',
       'Marina del Rey', 'Vermont Knolls', 'South Park', 'Willowbrook',
       'Angelino Heights', 'Beverly Crest', 'El Sereno',
       'Wellington Square', 'Harbor City', 'Lakeview Terrace',
       'Elysian Valley', 'East Los Angeles', 'Faircrest Heights',
       'St Elmo Village', 'West LA', 'Culver City', 'Central', 'Carson',
       'Burbank', 'Tujunga', 'View Heights', 'Porter Ranch',
       'Reseda Ranch', 'Kagel/Lopez Canyons', 'Mandeville Canyon',
       'Palisades Highlands', 'Inglewood', 'West Carson'], dtype=object)

In [60]:
citations['csa'].value_counts()

Downtown               1765
Hollywood              1345
Melrose                1268
West Los Angeles        857
Wholesale District      840
                       ...
Palisades Highlands       1
Inglewood                 1
Willowbrook               1
Burbank                   1
West Carson               1
Name: csa, Length: 143, dtype: int64

In [62]:
citations['ami_category'].unique()

array(['Above Moderate Income', 'Low Income', 'Very Low Income',
       'Extremely Low Income', 'Moderate Income'], dtype=object)

In [63]:
citations['ami_category'].value_counts()

Very Low Income          8406
Low Income               7694
Above Moderate Income    5217
Extremely Low Income     3147
Moderate Income           201
Name: ami_category, dtype: int64

In [64]:
citations.shape

(24665, 13)